<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<p>
    Splurty was built by web developer Justin Cefai.
  </p>
  <br />
  <p>
    Justin is currently attending The Firehose Project for full stack web development.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'justin.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Justin Cefai</h2>
      <br />
      <p>
        Justin Cefai is a web developer.
      </p>
    </div>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />