<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>
	<br />
	<p>
    Splurty was built in 2017 by web developer Justin Cefai.
  </p>

  <p>
    You can see more of Justin's work<a target="_blank" href="http://justincefai.co"> here</a>.
  </p>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'justin.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"></h2>
      <br />
      <p>
       
      </p>
    </div>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />